
numpy
torch
torchvision
torchaudio
notebook
jupyter
tb-nightly
pyparsing==2.4.7
hydra
scikit-image
matplotlib==3.4.2
dm-env
hydra-core
hydra-submitit-launcher
pandas
tdqm
absl-py
mujoco_py
dm_control
opencv-python==4.3.0.36
imageio==2.9.0
imageio-ffmpeg==0.4.4
termcolor
pyyaml
rospkg
modern_robotics